{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/comment_delete.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- cd - comment delete -->

<div class="cd">
  <div class="cd_contentBox glass">
    <h2 class="size-nr weight-nr">Delete Comment</h2>

    <h4 class="size-nr weight-nr">
      "{{ comment.comment | truncatewords:"7"}}"
    </h4>

    <p class="size-sm weight-sm">Do you want to delete this comment?</p>

    <form action="" method="post" class="cd_formBox">
      {% csrf_token %}

      <div class="cd_btnBox">
        <input type="submit" value="Yes" class="size-sm weight-sm" />

        <a
          href="{% url 'comment_detail' comment.pk %}"
          class="size-sm weight-sm"
        >
          No
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
