{% extends 'base.html' %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<section class="login">
  <div class="login_contentBox glass">
    <h2 class="size-lg weight-lg">Login</h2>

    <form action="" method="post" class="login_formBox">
      {% csrf_token %}
      <!--  -->
      {{ form }}

      <input
        type="submit"
        value="Send"
        class="login_formBtn size-sm weight-sm"
      />
    </form>

    <div class="login_linkBox">
      <a class="size-sm weight-sm" href="{% url 'password_reset' %}">
        Forget Password?
      </a>

      <a class="size-sm weight-sm" href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>
</section>
{% endblock content %}
