{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/password_change_form.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- pcf - password change form -->

<section class="pcf">
  <div class="pcf_contentBox glass">
    <h2 class="size-lg weight-lg">Password Change</h2>

    <form action="" method="post" class="pcf_formBox">
      {% csrf_token %}
      <!--  -->
      {{ form }}

      <input type="submit" value="Save" class="pcf_formBtn size-sm weight-sm" />
    </form>
  </div>
</section>
{% endblock content %}
