{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- prf - password reset form -->
<section class="prf">
  <div class="prf_contentBox glass">
    <h2 class="size-lg weight-lg">
      Enter your e-mail address and we will send instructions for resetting your
      password.
    </h2>

    <form action="" method="post" class="prf_formBox">
      {% csrf_token %}
      <!--  -->
      {{ form }}

      <input type="submit" value="Send" class="prf_formBtn size-sm weight-sm" />
    </form>
  </div>
</section>
{% endblock content %}
