{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- prc - password reset confirm -->
<section class="prc">
  <div class="prc_contentBox glass">
    <h2 class="size-lg weight-lg">Enter a new keyword.</h2>

    <form action="" method="post" class="prc_formBox">
      {% csrf_token %}
      <!--  -->
      {{ form }}

      <input type="submit" value="Save" class="prc_formBtn size-sm weight-sm" />
    </form>
  </div>
</section>
{% endblock content %}
