{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- prd - password reset done -->

<section class="prd">
  <div class="prd_contentBox glass">
    <h2 class="size-lg weight-lg">
      The manual for restoring the password has been sent to the e-mail address.
    </h2>

    <p class="size-nr weight-nr">
      You can reset your password and return to the site.
    </p>

    <a href="{% url 'homepage' %}" class="size-sm weight-sm">
      Return to home page
    </a>
  </div>
</section>
{% endblock content %}
