{% extends "base.html" %}
<!--  -->
{% load static %}

<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}" />
{% endblock style %}
<!--  -->

{% block content %}
<!-- prcp - password reset complete -->

<section class="prcp">
  <div class="prcp_contentBox glass">
    <h2 class="size-lg weight-lg">
      Your password has been successfully restored.
    </h2>

    <p class="size-nr weight-nr">You can enter the site with a new password.</p>

    <a href="{% url 'login' %}" class="size-sm weight-sm">Login</a>
  </div>
</section>
{% endblock content %}
