.pcd {
  padding: 150px 10px 10px;
}

.pcd_contentBox {
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.pcd_contentBox h2 {
  color: var(--green);
}

.pcd_contentBox p {
  margin: 20px 0;
  color: var(--white);
}

.pcd_contentBox a {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--green);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  transition-duration: 0.2s;
}

.pcd_contentBox a:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--green);
}

/* Responsive Media Queries */
/* Tablet Version */
@media (max-width: 767.5px) {
  .pcd {
    padding: 120px 10px 10px;
  }

  .pcd_contentBox h2 {
    font-size: 24px;
  }

  .pcd_contentBox p {
    font-size: 16px;
  }
}
